{% extends "base.html" %}

{% load account i18n widget_tweaks %}

{% block title %}{% trans "Đổi mật khẩu" %}{% endblock %}

{% block body %}
<section class="hero">
  <div class="hero-body">
    <div class="container">
        <div class="columns">
            <div class="column is-6">
                <section class='section'>
                    <h1 class='title'>{% trans "Đổi mật khẩu" %}</h1>
                    <br>
                    <form id="signup_form" method="post" action="{% url 'account_change_password' %}">
                        {% csrf_token %}

                        {% for hidden_field in form.hidden_fields %}
                          {{ hidden_field }}
                          {% endfor %}

                          {% if form.non_field_errors %}
                            <div class="notification is-warning" role="alert">
                              {% for error in form.non_field_errors %}
                                {{ error }}
                              {% endfor %}
                            </div>
                          {% endif %}

                          {% for field in form.visible_fields %}
                            <div class="field">
                                <label class="label">{{ field.label }}</label>
                                {% if form.is_bound %}
                                    {% if field.errors %}
                                        <div class="control">
                                            {% render_field field class="input is-danger" %}
                                        </div>
                                        {% for error in field.errors %}
                                        <p class="help is-danger">{{ error }}</p>
                                        {% endfor %}
                                    {% else %}
                                        <div class="control">
                                            {% render_field field class="input is-success" %}
                                        </div>
                                    {% endif %}
                                {% else %}
                                <div class="control">
                                    {% render_field field class="input" %}
                                </div>
                                {% endif %}

                                {% if field.help_text %}
                                    <p class="help">{{ field.help_text }}</p>
                                {% endif %}
                            </div>
                        {% endfor %}

                        {% if redirect_field_value %}
                          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                        {% endif %}
                        <div class="field is-grouped" style="padding-top:0px;">
                            <div class="control">
                              <button class="button is-primary" type="submit">{% trans "Đổi mật khẩu" %}</button>
                            </div>
                        </div>
                    </form>
                </section>
            </div>
            <div class="column has-text-centered">
                <figure class="image" style="">
                    <img src="https://imgur.com/LWMXEPT.gif" alt="Reset password anchoi.today">
                </figure>
                <small>Art source: <a href='https://dribbble.com/xdionx' rel='nofollow'>Dion Pramadhan</a></small>
            </div>
        </div>
    </div>
  </div>
</section>
    
{% endblock %}