{% extends "base.html" %}

{% load account i18n widget_tweaks %}

{% block title %}{% trans "Quên mật khẩu" %}{% endblock %}

{% block body %}
<section class="hero">
  <div class="hero-body">
    <div class="container">
        <div class="columns">
            <div class="column is-6">
                <section class='section'>
                    <h1 class='title'>{% trans "Quên mật khẩu" %}</h1>
                    {% if user.is_authenticated %}
                    {% user_display user as user_display %}
                    <p><strong>{% trans "Hmmm..." %}</strong> {% blocktrans %}có vẻ bạn đã đăng nhập rồi mà {{ user_display }}.{% endblocktrans %}</p>
                    {% else %}
                        <p>{% blocktrans %}Hãy kiểm tra inbox của bạn. Vui lòng liên hệ admin@anchoi.today nếu gặp trục trặc.{% endblocktrans %}</p>
                    {% endif %}
                </section>
            </div>
            <div class="column has-text-centered">
                <figure class="image" style="">
                    <img src="https://imgur.com/kzCZPZO.jpg" alt="Reset password anchoi.today">
                </figure>
                <small>Art source: <a href='https://dribbble.com/shots/2064660-Did-you-forget-us' rel='nofollow'>Joseph Melhuish</a></small>
            </div>
        </div>
    </div>
  </div>
</section>
    
{% endblock %}