{% extends "base.html" %}

{% load account i18n widget_tweaks %}

{% block title %}{% trans "Quên mật khẩu" %}{% endblock %}

{% block body %}
<section class="hero">
  <div class="hero-body">
    <div class="container">
        <div class="columns">
            <div class="column is-6">
                <section class='section'>
                    <h1 class='title'>{% trans "Quên mật khẩu" %}</h1>
                    {% if user.is_authenticated %}
                    {% user_display user as user_display %}
                    <p><strong>{% trans "Hmmm..." %}</strong> {% blocktrans %}có vẻ bạn đã đăng nhập rồi mà {{ user_display }}.{% endblocktrans %}</p>
                    {% else %}
                        <p>{% trans "Quên mật khẩu? Đừng lo, hãy để lại địa chỉ email của bạn và chúng tôi sẽ gửi cho bạn một email hướng dẫn cách lấy lại mật khẩu của mình." %}</p>
                    
                    <br>
                    <form method="post" action="{% url 'account_reset_password' %}">
                        {% csrf_token %}

                        {% for hidden_field in form.hidden_fields %}
                          {{ hidden_field }}
                          {% endfor %}

                          {% if form.non_field_errors %}
                            <div class="notification is-warning" role="alert">
                              {% for error in form.non_field_errors %}
                                {{ error }}
                              {% endfor %}
                            </div>
                          {% endif %}

                          {% for field in form.visible_fields %}
                            <div class="field">
                                <label class="label">{{ field.label }}</label>
                                {% if form.is_bound %}
                                    {% if field.errors %}
                                        <div class="control">
                                            {% render_field field class="input is-danger" %}
                                        </div>
                                        {% for error in field.errors %}
                                        <p class="help is-danger">{{ error }}</p>
                                        {% endfor %}
                                    {% else %}
                                        <div class="control">
                                            {% render_field field class="input is-success" %}
                                        </div>
                                    {% endif %}
                                {% else %}
                                <div class="control">
                                    {% render_field field class="input" %}
                                </div>
                                {% endif %}

                                {% if field.help_text %}
                                    <p class="help">{{ field.help_text }}</p>
                                {% endif %}
                            </div>
                        {% endfor %}

                        {% if redirect_field_value %}
                          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                        {% endif %}
                        <div class="field is-grouped" style="padding-top:0px;">
                            <div class="control">
                              <button class="button is-primary" type="submit">{% trans "Lấy mật khẩu" %}</button>
                            </div>
                        </div>
                    </form>
                    <br>
                    <p>{% blocktrans %}Nếu gặp khó khăn, vui lòng liên hệ vào email admin@anchoi.today để được hỗ trợ.{% endblocktrans %}</p>
                    {% endif %}
                </section>
            </div>
            <div class="column has-text-centered">
                <figure class="image" style="">
                    <img src="https://imgur.com/kzCZPZO.jpg" alt="Reset password anchoi.today">
                </figure>
                <small>Art source: <a href='https://dribbble.com/shots/2064660-Did-you-forget-us' rel='nofollow'>Joseph Melhuish</a></small>
            </div>
        </div>
    </div>
  </div>
</section>
    
{% endblock %}