{% extends "base.html" %}

{% load account i18n widget_tweaks %}

{% block title %}{% trans "Đổi mật khẩu" %}{% endblock %}

{% block body %}
<section class="hero">
  <div class="hero-body">
    <div class="container">
        <div class="columns">
            <div class="column is-6">
                <section class='section'>
                    <h1 class='title'>{% trans "Đổi mật khẩu" %}</h1>
                    <p>{% trans 'Mật khẩu của bạn đã được đổi thành công.' %}</p>
                </section>
            </div>
            <div class="column has-text-centered">
                <figure class="image" style="">
                    <img src="https://imgur.com/kzCZPZO.jpg" alt="Reset password anchoi.today">
                </figure>
                <small>Art source: <a href='https://dribbble.com/shots/2064660-Did-you-forget-us' rel='nofollow'>Joseph Melhuish</a></small>
            </div>
        </div>
    </div>
  </div>
</section>
    
{% endblock %}