{% extends 'base.html' %}
{% load tz %}
{% block extra_css %}
{% endblock extra_css %}

{% block title %}
    {{event.name}}
{% endblock title %}

{% block meta_description %}
    Anchoi.today - {{event.data.description|truncatewords:100}}
{% endblock meta_description %}

{% block extra_meta %}
  <meta property="og:url" content="{{ request.build_absolute_uri }}" />
  <meta property="og:title" content="{{ event.name }}" />
  <meta property="og:description" content="{{ event.data.description|truncatewords:100 }}" />
  <meta property="og:image" content="{{ event.data.cover.source }}" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@anchoitoday" />
  <meta name="twitter:creator" content="@anchoitoday" />
{% endblock extra_meta %}

{% block body %}
	<div>
		<div style="padding-top: 50px;" class="columns" itemscope itemtype="http://schema.org/Event">
			<div class="column is-6 is-offset-1 is-10-mobile is-offset-1-mobile">
				<h1 class="title is-2 is-size-4-mobile" itemprop="name">{{event.name}}</h1>
				<div style='padding-bottom: 10px;'>
				    <hr class='divider'/>
				</div>
				<div class="columns">
					<div class="column is-3">
						<h3 class="title is-4">Thời gian bắt đầu</h3>
					</div>
					<div class="column">
						{% if event.data.ticket_uri %}
						<div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
							<a href={{event.data.ticket_uri}} class="button is-primary" itemprop="url">
			                  <span class="icon">
			                    <i class="fa fa-ticket" aria-hidden="true"></i>
			                  </span>
			                  <span>Mua vé</span>
			                </a>
						</div>
						{% endif %}

		                <div class="group" style="{% if event.data.ticket_uri %}padding-top: 10px;{% endif %}">
		                	<span class="icon">
	                        	<i class="fa fa-calendar-o" aria-hidden="true"></i>
	                        </span>
	                        <span class='is-size-5' itemprop="startDate" content={{event.start_time|timezone:"Asia/Saigon"|date:"c"}}>
	                        	{{event.start_time|timezone:"Asia/Saigon"|date:"l d-m-Y"}}
	                        </span>
		                </div>
						<div class="group" style="padding-top: 10px;">
		                	<span class="icon">
	                        	<i class="fa fa-clock-o" aria-hidden="true"></i>
	                        </span>
	                        <span class='is-size-5'>
	                        	{{event.start_time|timezone:"Asia/Saigon"|time:"H:i"}}
	                        </span>
		                </div>
					</div>
				</div>

				{% if event.data.description %}
				<div style='padding-bottom: 10px;'>
				    <hr class='divider'/>
				</div>
				<div class="columns">
					<div class="column is-3">
						<h3 class="title is-4">Chi tiết</h3>
					</div>
					<div class="column">
						<div class="content" itemprop="description">
							{{event.data.description|linebreaks}}
						</div>
					</div>
				</div>
				
				{% endif %}

				{% if end_time %}
				<div style='padding-bottom: 10px;'>
				    <hr class='divider'/>
				</div>
				<div class="columns">
					<div class="column is-3">
						<h3 class="title is-4">Thời gian kết thúc</h3>
					</div>
					<div class="column">
						<div class="group">
		                	<span class="icon">
	                        	<i class="fa fa-calendar-times-o" aria-hidden="true"></i>
	                        </span>
	                        <span class='is-size-5' itemprop='endDate' content={{end_time|timezone:"Asia/Saigon"|date:"c"}}>
	                        	{{end_time|timezone:"Asia/Saigon"|date:"l d-m-Y"}}
	                        </span>
		                </div>
						<div class="group" style="padding-top: 10px;">
		                	<span class="icon">
	                        	<i class="fa fa-lock" aria-hidden="true"></i>
	                        </span>
	                        <span class='is-size-5'>
	                        	{{end_time|timezone:"Asia/Saigon"|time:"H:i"}}
	                        </span>
		                </div>
					</div>
				</div>
				{% endif %}
				
				{% if place_name %}
				<div style='padding-bottom: 10px;'>
				    <hr class='divider'/>
				</div>
				<div class="columns">
					<div class="column is-3">
						<h3 class="title is-4">
							Địa điểm
						</h3>
					</div>
					<div class="column" itemprop="location" itemscope itemtype="http://schema.org/Place">
						<div class="group">
	                        <span class="icon">
	                        	<i class="fa fa-map-marker" aria-hidden="true"></i>
	                        </span>
	                        <span class='is-size-5' itemprop="name">{{place_name}}</span>
                        </div>
                        <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                        	<div class="group">
			                	<span class="icon">
		                        	<i class="fa fa-location-arrow" aria-hidden="true"></i>
		                        </span>
		                        <span class='is-size-5' itemprop="streetAddress">
		                        	{{street}}
		                        </span>
			                </div>
							<div class="group">
			                	<span class="icon">
		                        	<i class="fa fa-plane" aria-hidden="true"></i>
		                        </span>
		                        <span class='is-size-5' itemprop="addressLocality">
		                        	{{city}}
		                        </span>
			                </div>
			                <div class="group">
			                	<span class="icon">
		                        	<i class="fa fa-facebook" aria-hidden="true"></i>
		                        </span>
		                        <span class='is-size-5' itemprop="addressLocality">
		                        	<a href="https://facebook.com/{{event.fb_id}}/">Facebook</a>
		                        </span>
			                </div>
                        </div>
                        
		                <div style="padding-top: 10px;" itemprop="hasMap">
                            <figure class='image is-square'>
                            	<img itemprop="map" itemtype="https://schema.org/Map" alt='' src="{{map}}"/>
                            </figure>
                        </div>
					</div>
				</div>
				{% endif %}


			</div>
			<div style="padding-left: 20px; padding-right: 20px;" class="column">
				<figure class="image">
					<img itemprop='image' style='border-radius: 8px;' alt='' src="{{event.data.cover.source}}" />
				</figure>
				<div style="padding-top: 20px;" class="columns">
					<div class="column is-6">
						<div>
							<span class="is-size-5">
								Tham dự: {{event.data.attending_count}}+
							</span>
						</div>
						<div style="padding-top: 10px;">
							<span class="is-size-5">
								Đang quan tâm: {{event.data.maybe_count}}+
							</span>
						</div>
					</div>
					<div class="column">
						{% if event.data.ticket_uri %}
							<a href="{{event.data.ticket_uri}}" class="button is-primary is-pulled-right is-large is-hidden-mobile">
								<span class="icon">
                                	<i class="fa fa-ticket" aria-hidden="true"></i>
                             	</span>
                             	<span>Mua vé</span>
							</a>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock body %}
{% block extra_js %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% endblock extra_js %}