{% extends "base.html" %}
{% load static %}

{% block title %}
    Trang chủ sự kiện tại {% if active_city == 'hanoi' %}Hà Nội{% else %}Sài Gòn{% endif %}
{% endblock title %}

{% block meta_description %}
    Mạng xã hội sự kiện tại Hà Nội và Thành phố Hồ Chí Minh. Tìm kiếm các sự kiện gần bạn và trải nghiệm ngay hôm nay. - Anchoi.today
{% endblock meta_description %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
  <style>
    .columns {
      margin: 0;
    }
  </style>
{% endblock extra_css %}

{% block navbar %}
  <nav class='navbar' role="navigation" aria-label="main navigation">
    <div class='navbar-brand'>
      <a href='/' class='navbar-item'>
        <img alt='' src={% static "img/anchoi_logo_2.png" %} />
      </a>
      <span class="button navbar-burger" data-target="navMenu">
        <span></span>
        <span></span>
        <span></span>
      </span>
    </div>
    
    <div class='navbar-menu' id='navMenu'>
      <div class='navbar-end'>
        <div class='navbar-item has-dropdown is-hoverable'>
          <a class='navbar-link'>Thành phố</a>
          <div class="navbar-dropdown">
            <a href='/hanoi' class='navbar-item {% if active_city == 'hanoi' %}is-active{% endif %}'>Hà Nội</a>
            <a href='/saigon' class='navbar-item {% if active_city == 'saigon' %}is-active{% endif %}'>Sài Gòn</a>
          </div>
        </div>
        <a href='/help' class='navbar-item'>
          Hỗ trợ
        </a>
        <a href='/signup' class='navbar-item'>
          Đăng ký
        </a>
        <a href='/login' class='navbar-item'>
          Đăng nhập
        </a>
        <a class='navbar-item' onclick="getLocation()">Quanh đây</a>
      </div>
    </div>


  </nav>
{% endblock navbar %}

{% block body %}
  <section class="hero">
    <div class="hero-body">
      <div class="container">
        <h1 class="title is-1" style='color: #FF5A5F;'>
          Ăn & chơi
        </h1>
        <h2 class="subtitle is-3">
          Find amazing events and try unique experiences <br/>
          with awesome people in your area.
        </h2>
      </div>
    </div>
  </section>
  <div style='padding-left: 20px; padding-right: 20px;'>

    {# Search section #}
    <div style='padding-bottom: 30px;'>
      <form action='{% url "search_view" %}' method='GET' accept-charset="utf-8">
        <div class="field is-horizontal">
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input class="input is-large" type="text" name="q" placeholder="Tên hoặc từ khóa" />
              </div>
            </div>
            <div class="field">
              <div class="control">
                <button class="button is-large is-primary" action='' type="submit">
                  Tìm kiếm
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>

    {# Time filter tabs section #}
    <div class="tabs is-medium">
      <ul>
        <li {% if active_time == 'week' or not active_time %}class='is-active'{% endif %}><a href="{% url 'event_by_time_view' active_city 'week' %}">Tuần này</a></li>
        <li {% if active_time == 'month' %}class='is-active'{% endif %}><a href="{% url 'event_by_time_view' active_city 'month' %}">Tháng này</a></li>
        <li {% if active_time == 'today' %}class='is-active'{% endif %}><a href="{% url 'event_by_time_view' active_city 'today' %}">Hôm nay</a></li>
        <li {% if active_time == 'weekend' %}class='is-active'{% endif %}><a href="{% url 'event_by_time_view' active_city 'weekend' %}">Cuối tuần</a></li>
      </ul>
    </div>
    <div>
    <div>

      {# Hot heading section #}
      <div class="columns is-mobile">
        <div class="column is-10-desktop">
          <h1 class="title is-size-4-mobile">
            Nổi bật
          </h1>
        </div>
        <div class="column">
          <div class="group is-pulled-right">
            <div class="icon">
              <i class="fa fa-list-alt" aria-hidden="true"></i>
            </div>
            <a href="{% url 'event_by_category_view' active_city active_time 'hot' %}" class="see-all">
              <span>Xem thêm</span>
            </a>
          </div>
        </div>
      </div>

      {# Hot list section #}
      <div class="owl-carousel owl-theme owl-drag">
        {% for event in hot %}
          <div>
            <div class='event-thumbnail'>
              <img alt='' src="{{event.data.cover.source}}" />
            </div>
            <div class="content">
                <h1 style='padding-top: 10px;' class='is-size-5'>
                  <a href="{% url 'event_detail_view' event.slug %}">{{event.name}}</a>
                </h1>
            </div>
          </div>
        {% endfor %}
      </div>
      
      {% if movie %}
      {# Movie heading section #}
      <div class="columns is-mobile">
        <div class="column is-10-desktop">
          <h1 class="title is-size-4-mobile">
            Phim
          </h1>
        </div>
        <div class="column">
          <div class="group is-pulled-right">
            <div class="icon">
              <i class="fa fa-list-alt" aria-hidden="true"></i>
            </div>
            <a href="{% url 'event_by_category_view' active_city active_time 'movie' %}" class="see-all">
              <span>Xem thêm</span>
            </a>
          </div>
        </div>
      </div>
      
      {# Movie list section #}
      <div class="columns">
        {% for event in movie|slice:":3" %}       
          <div class='column is-4'>
            <figure class='image is-16by9'>
              <img style='border-radius: 8px;' alt='' src={{event.data.cover.source}} />
            </figure>
            <div class="content">
              <a href="{% url 'event_detail_view' event.slug %}">
                <h1 style='padding-top: 10px;' class='is-size-5'>
                  {{event.name}}
                </h1>
              </a>
            </div>
          </div>
        {% endfor %}
      </div>
      {% endif %}
    
    {% if music %}
    {# Music heading section #}
    <div class="columns is-mobile">
      <div class="column is-10-desktop">
        <h1 class="title is-size-4-mobile">
          Âm nhạc
        </h1>
      </div>
      <div class="column">
        <div class="group is-pulled-right">
          <div class="icon">
            <i class="fa fa-list-alt" aria-hidden="true"></i>
          </div>
          <a href="{% url 'event_by_category_view' active_city active_time 'music' %}" class="see-all">
            <span>Xem thêm</span>
          </a>
        </div>
      </div>
    </div>
    
    {# Music list section #}
      <div class="columns">
        {% for event in music|slice:":3" %}       
          <div class='column is-4'>
            <figure class='image is-16by9'>
              <img style='border-radius: 8px;' alt='' src={{event.data.cover.source}} />
            </figure>
            <div class="content">
              <a href="{% url 'event_detail_view' event.slug %}">
                <h1 style='padding-top: 10px;' class='is-size-5'>
                  {{event.name}}
                </h1>
              </a>
            </div>
          </div>
        {% endfor %}
      </div>
    {% endif %}
    
    {% if experience %}
    {# Experience heading section #}
    <div class="columns is-mobile">
      <div class="column is-10-desktop">
        <h1 class="title is-size-4-mobile">
          Trải nghiệm
        </h1>
      </div>
      <div class="column">
        <div class="group is-pulled-right">
          <div class="icon">
            <i class="fa fa-list-alt" aria-hidden="true"></i>
          </div>
          <a href="{% url 'event_by_category_view' active_city active_time 'experience' %}" class="see-all">
            <span>Xem thêm</span>
          </a>
        </div>
      </div>
    </div>
    
    {# Experience list section #}
      <div class="columns">
        {% for event in experience|slice:":3" %}       
          <div class='column is-4'>
            <figure class='image is-16by9'>
              <img style='border-radius: 8px;' alt='' src={{event.data.cover.source}} />
            </figure>
            <div class="content">
              <a href="{% url 'event_detail_view' event.slug %}">
                <h1 style='padding-top: 10px;' class='is-size-5'>
                  {{event.name}}
                </h1>
              </a>
            </div>
          </div>
        {% endfor %}
      </div>
    {% endif %}
    
    {% if education %}
    {# Education heading section #}
    <div class="columns is-mobile">
      <div class="column is-10-desktop">
        <h1 class="title is-size-4-mobile">
          Giáo dục
        </h1>
      </div>
      <div class="column">
        <div class="group is-pulled-right">
          <div class="icon">
            <i class="fa fa-list-alt" aria-hidden="true"></i>
          </div>
          <a href="{% url 'event_by_category_view' active_city active_time 'education' %}" class="see-all">
            <span>Xem thêm</span>
          </a>
        </div>
      </div>
    </div>
    
    {# Education list section #}
      <div class="columns">
        {% for event in education|slice:":3" %}       
          <div class='column is-4'>
            <figure class='image is-16by9'>
              <img style='border-radius: 8px;' alt='' src={{event.data.cover.source}} />
            </figure>
            <div class="content">
              <a href="{% url 'event_detail_view' event.slug %}">
                <h1 style='padding-top: 10px;' class='is-size-5'>
                  {{event.name}}
                </h1>
              </a>
            </div>
          </div>
        {% endfor %}
      </div>
    {% endif %}
    
    {% if sport %}
    {# Sport heading section #}
    <div class="columns is-mobile">
      <div class="column is-10-desktop">
        <h1 class="title is-size-4-mobile">
          Thể thao
        </h1>
      </div>
      <div class="column">
        <div class="group is-pulled-right">
          <div class="icon">
            <i class="fa fa-list-alt" aria-hidden="true"></i>
          </div>
          <a href="{% url 'event_by_category_view' active_city active_time 'sport' %}" class="see-all">
            <span>Xem thêm</span>
          </a>
        </div>
      </div>
    </div>
    
    {# Sport list section #}
      <div class="columns">
        {% for event in sport|slice:":3" %}       
          <div class='column is-4'>
            <figure class='image is-16by9'>
              <img style='border-radius: 8px;' alt='' src={{event.data.cover.source}} />
            </figure>
            <div class="content">
              <a href="{% url 'event_detail_view' event.slug %}">
                <h1 style='padding-top: 10px;' class='is-size-5'>
                  {{event.name}}
                </h1>
              </a>
            </div>
          </div>
        {% endfor %}
      </div>
      {% endif %}

  </div>

{% endblock %}

{% block extra_js %}
  <script src='{% static "js/jquery-3.2.1.min.js" %}'></script>
  <script src="{% static 'js/owl.carousel.min.js' %}"></script>
  <script>
    $(document).ready(function(){
    $(".owl-carousel").owlCarousel(
      {
        margin: 20,
        autoplay:true,
        autoHeight:true,
        autoplayTimeout:2500,
        autoplayHoverPause:true,
        responsive:{
          0:{
              items:1
          },
          600:{
              items:1
          },
          1000:{
              items:4
          }
        }
      }
    );
    });
  </script>
  <script>
      // Note: This example requires that you consent to location sharing when
      // prompted by your browser. If you see the error "The Geolocation service
      // failed.", it means you probably did not give permission for the browser to
      // locate you.
      var pos, infoWindow;
      function getLocation() {
        infoWindow = new google.maps.InfoWindow;

        // Try HTML5 geolocation.
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };

            var form = document.createElement("form");
            form.setAttribute("method", 'get');
            form.setAttribute("action", {% url 'nearby_view' %});

            var hiddenFieldLat = document.createElement("input");
            hiddenFieldLat.setAttribute("type", "hidden");
            hiddenFieldLat.setAttribute("name", "latitude");
            hiddenFieldLat.setAttribute("value", pos.lat);
            form.appendChild(hiddenFieldLat);

            var hiddenFieldLng = document.createElement("input");
            hiddenFieldLng.setAttribute("type", "hidden");
            hiddenFieldLng.setAttribute("name", "longitude");
            hiddenFieldLng.setAttribute("value", pos.lng);
            form.appendChild(hiddenFieldLng);

            document.body.appendChild(form);
            form.submit();
          }, function() {
            handleLocationError(true, infoWindow, map.getCenter());
          });
        } else {
          // Browser doesn't support Geolocation
          handleLocationError(false, infoWindow, map.getCenter());
        }
      }

      function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
                              'Error: The Geolocation service failed.' :
                              'Error: Your browser doesn\'t support geolocation.');
      }
      
      // the below line has been inserted to assign a JS variable to HTML input field called 'geolocation'
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDPtbGItw64sLl0XmfegIW3FE48nyfLBq4">
    </script>
{% endblock extra_js %}
