{% extends "base.html" %}

{% load i18n widget_tweaks %}

{% block title %}
  Gửi thành công
{% endblock %}

{% block body %}
<section class="hero">
  <div class="hero-body">
    <div class="container">
        <div class="columns">
            <div class="column is-6">
                <section class='section'>
                    <h1 class='title'>{% trans "Gửi thành công" %}</h1>
                    <br>
                    <p>Lời nhắn của bạn đã được gửi thành công. Chúng tôi sẽ cố gắng trả lời lại sớm nhất có thể.</p>

                    <p>Xin cảm ơn và chúc bạn có một ngày vui vẻ.</p>
                </section>
            </div>
            <div class="column has-text-centered" style='margin-top: -50px;'>
                <figure class="image" style="">
                    <img src="https://i.imgur.com/JvccibT.png" alt="Thanks">
                </figure>
                <small>Art source: <a href='https://dribbble.com/riandarma' rel='nofollow'>Rian Darma</a></small>
            </div>
        </div>
    </div>
  </div>
</section>
{% endblock %}
