{% extends "base.html" %}
{% load static %}

{% block body %}
    <section class="hero">
        <div class="hero-body">
            <div class="container has-text-centered">
              <h1 class="title">
                Hệ thống đang có lỗi. Xin quay lại sau.
              </h1>
              <div class="columns">
                  <div class="column is-10-desktop is-offset-1-desktop">
                      <figure class="image">
                        <img src="https://imgur.com/IlFYyfL.jpg" alt="">
                      </figure>
                  </div>
              </div>
            </div>
        </div>
    </section>
{% endblock body %}