{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <link rel="stylesheet" href="{% static '/css/app.css' %}">
    <link rel="stylesheet" href="{% static '/css/font-awesome/css/font-awesome.min.css' %}">
    {% block extra_css %}{% endblock %}
    <title>
        {% block title %}
            Anchoi.today
        {% endblock title %} | Anchoi.today
    </title>
    <meta name='description' content="{% block meta_description %}Find amazing events and try unique experiences with awesome people in your area.{% endblock meta_description %}" />
    {% block extra_meta %}

    {% endblock extra_meta %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-109485239-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-109485239-1');
    </script>
  </head>
  <body>
  	<div>
    	{% block navbar %}
    		{% include 'navbar.html' %}
    	{% endblock navbar %}
  	  <div class="container">
  	  	{% block body %}
  	  	{% endblock %}
  	  </div>
  	</div>
  	<footer class="footer">
  		<div class="container">
  		  <div class="columns">
          <!-- Follow me -->
  		    <div class="column is-4-desktop">
  		      <div class="content">
              <a href="https://twitter.com/meatyminus?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-lang="vi" data-show-count="false">Follow @meatyminus</a>
              <br>
              <a class="github-button" href="https://github.com/tudoanh" data-size="large" data-show-count="true" aria-label="Follow @tudoanh on GitHub">Follow @tudoanh</a>
              <br>
              <img src="https://bulma.io/images/made-with-bulma.png" alt="" width="180" height="24">
              <br>
              <img src="https://forthebadge.com/images/badges/made-with-python.svg" alt="">
  		      </div>
  		    </div>
          <!-- Social share -->
          <div class="column is-4-desktop">
            <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text="Ai đi cùng hem ..." data-url="{{ request.build_absolute_uri }}" data-via="anchoitoday" data-hashtags="anchoi" data-size='large' data-lang="vi" data-show-count="false">Tweet</a>
            <br>
            <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button" data-size="large" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="{{ request.build_absolute_uri }}">Chia sẻ</a></div>
          </div>
          <div class="column is-4-desktop">
            <div class="content">
              <a href="/" class="dropdown-item">
                Trang chủ
              </a>
              <a href='/hanoi' class="dropdown-item">
                Hà Nội
              </a>
              <a href="/saigon" class="dropdown-item">
                Sài Gòn
              </a>
              <a href="/help" class="dropdown-item">
                Trợ giúp
              </a>
            </div>
          </div>
        </div>
      </div>
	</footer>
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <div id="fb-root"></div>
  <script>
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = 'https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.11&appId=1513993565587957';
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>
  <script>
    document.addEventListener('DOMContentLoaded', function () {

      // Get all "navbar-burger" elements
      var $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

      // Check if there are any navbar burgers
      if ($navbarBurgers.length > 0) {

        // Add a click event on each of them
        $navbarBurgers.forEach(function ($el) {
          $el.addEventListener('click', function () {

            // Get the target from the "data-target" attribute
            var target = $el.dataset.target;
            var $target = document.getElementById(target);

            // Toggle the class on both the "navbar-burger" and the "navbar-menu"
            $el.classList.toggle('is-active');
            $target.classList.toggle('is-active');

          });
        });
      }

    });

  </script>
  	{% block extra_js %}
  	{% endblock %}
  </body>
</html>
