{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <link rel="stylesheet" href="{% static '/css/app.css' %}">
    <link rel="stylesheet" href="{% static '/css/font-awesome/css/font-awesome.min.css' %}">
    {% block extra_css %}{% endblock %}
    <title>
        {% block title %}
            Anchoi.today
        {% endblock title %} | Anchoi.today
    </title>
    <meta name='description' content="{% block meta_description %}Find amazing events and try unique experiences with awesome people in your area.{% endblock meta_description %}" />
    {% block extra_meta %}
      
    {% endblock extra_meta %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-109485239-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-109485239-1');
    </script>
  </head>
  <body>
  	<div>
  	{% block navbar %}
  		{% include 'navbar.html' %}
  	{% endblock navbar %}
  	  <div class="container">
  	  	{% block body %}
  	  	{% endblock %}
  	  </div>
  	</div>
  	<footer class="footer">
		<div class="container">
		  <div class="content has-text-centered">
		    <h1 class='title'>
		      Mabe by <a href="https://github.com/tudoanh">me</a> with <i style='color: #FF5A5F;' class="fa fa-heart" aria-hidden="true"></i>
		    </h1>
		  </div>
		</div>
	</footer>
  <script>
    document.addEventListener('DOMContentLoaded', function () {

      // Get all "navbar-burger" elements
      var $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

      // Check if there are any navbar burgers
      if ($navbarBurgers.length > 0) {

        // Add a click event on each of them
        $navbarBurgers.forEach(function ($el) {
          $el.addEventListener('click', function () {

            // Get the target from the "data-target" attribute
            var target = $el.dataset.target;
            var $target = document.getElementById(target);

            // Toggle the class on both the "navbar-burger" and the "navbar-menu"
            $el.classList.toggle('is-active');
            $target.classList.toggle('is-active');

          });
        });
      }

    });

  </script>
  	{% block extra_js %}
  	{% endblock %}
  </body>
</html>
