{% load static account %}
<nav class='navbar' aria-label="main navigation">
  <div class='navbar-brand'>
    <a href='/' class='navbar-item'>
      <img alt='' src={% static "img/anchoi_logo_2.png" %} />
    </a>
    <span class="button navbar-burger" data-target="navMenu">
        <span></span>
        <span></span>
        <span></span>
      </span>
  </div>
  <div class='navbar-menu' id='navMenu'>
    <div class='navbar-end'>
      <div class='navbar-item has-dropdown is-hoverable'>
        <a class='navbar-link'>Thành phố</a>
        <div class="navbar-dropdown">
          <a href='/hanoi' class='navbar-item'>Hà Nội</a>
          <a href='/saigon' class='navbar-item'>Sài Gòn</a>
        </div>
      </div>
      <a href='/help' class='navbar-item'>
        Hỗ trợ
      </a>
      <a href="https://t.me/anchoi" class='navbar-item'>Telegram</a>
      <a href="/subscribe" class="navbar-item">
        Newsletter
      </a>
    </div>
  </div>
</nav>
