Django>=1.11.6
djangorestframework
django-filter
django-crispy-forms
psycopg2>=2.7.3.1
python-facebook-bot
unidecode
redis
django-hosts
django-redis
django-allauth
django-widget-tweaks
raven
celery
flower